$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


.glyphicon {
  font-size: 40px;
}

table.trending th{
  font-size: 40px;
}

table.trending th{
  background-color: #b5d592;
}

.up {
  background: #fffe9f;
}

.down {
  background: #ffb598;
}

td a {
  color: #000;
}
td.trend{
  background: #cc6f72;
}

td.votes{
  background: #86ccb6;
}

td.created{
  background: #c3accc;
}


.btn-up {
  padding: 18px 28px;
  font-size: 40px;
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: skyblue;
}

.btn-down {
  padding: 18px 28px;
  font-size: 22px;
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: salmon;
}

.mycontainer {
  padding-top: 60px;
}

// Component styles are injected through grunt
// injector
@import 'main/main.scss';
@import 'recent/recent.scss';
@import 'top/top.scss';
@import 'trendtable/trendtable.scss';
@import '../components/footer/footer.scss';
@import '../components/modal/modal.scss';
// endinjector
